@page
@model IndexModel
@{
    ViewData["Title"] = "Catálogo de Produtos";
}


<!-- EXERCICIO 8 -->
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    
    <table>
        <tr>
            <th>Produto</th>
            <th>Preço</th>
        </tr>
        <tr>
            <td>Produto1</td>
            <td>R$20,00</td>
        </tr>
        <tr>
            <td>Produto2</td>
            <td>R$300,00</td>
        </tr>
        <tr>
            <td>Produto3</td>
            <td>R$1800,00</td>
        </tr>
    </table>
</div>